<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Some website</title>
</head>

<body>
    {{>header}}
    <h1>{{screamIt greetingMessage}}</h1>
    <p>Some page title</p>

    {{> footer}}

</body>

</html>